@media screen and (min-width:320px) and (max-width:480px){
    .logo span {
        font-size:1.1rem ;
    }

    .logo {
        text-align: center;
        width:50%;
    }

    .menu {
        display: none;
    }

    .icone-menu-hamburguer {
        display: block;
    }

    .home {
        height: auto;
        width:100%;
    }

    .home button {
        width:100%;
        margin-top:30px;
    }

    .home h1 {
        font-size:1.6rem;
    }

    .home p, .sobre-text p {
        width:100%;
        font-size:0.9rem;
    }

    .card {
        height:auto;
        padding-bottom:15px;
    }


    .sobre {
       display: block;
    }

    .sobre-text {
        width:100%;
    }

    .sobre-text h3 {
        font-size:1rem;
        text-align: center;
    }

    .sobre-img {
        display: none;
    }

    .endereco, .fale-conosco {
        width:100%;
    }

}


@media screen and (min-width:481px) and (max-width:768px){
    .menu {
        display: none;
    }

    .icone-menu-hamburguer{
        display: block;
    }

    section {
        width:100%;
    }

    .home {
        width:100%;
    }

    .home button {
        width:60%;
        margin-top:30px;
    }

    .home h1 {
        font-size:1.8rem;
    }

    .home p {
        width:60%;
        font-size:1rem;
    }

    .card {
        height:auto;
        padding-bottom:15px;
    }


    .sobre {
       display: block;
       padding:0 20px;
    }

    .sobre-text, .sobre-img {
        width:100%;
    }

    .sobre-img {
        text-align: center;
    }

    .sobre-text h3 {
        font-size:1.7rem;
        text-align: center;
    }

    .sobre-img img {
        width: 60%;
    }

     .endereco, .fale-conosco {
        width:100%;
    }

    .fale-conosco {
        display: flex;
        flex-flow: row wrap;
    }

    .fale-conosco h3 {
    width:100%;
    }

    .fale-conosco .campo {
        min-width: 250px;
        width:50%;
    }
}


@media screen and (max-width: 920px){
     .sobre {
       display: block;
    }

    .sobre-text, .sobre-img {
        width:100%;
    }

    .sobre-text h3 {
        font-size:1.6rem;
        text-align: center;
    }

    .sobre-img img {
        width: 60%;
    }
}
