@media screen and (min-width: 540px) {
    .home button {
        width: 80%;
    }
}


@media screen and (min-width: 670px) {
    .home button {
        width: 450px;
    }
}


@media screen and (min-width: 769px) {
    #btn-side-menu {
        display: none;
    }

    header {
        padding:0 20px;
    }
    .menu.menu-lg {
        display: flex;
        align-items: center;
        gap:30px;
    }

    .menu a {
        display: inline;
        padding:0;
        width:auto;
        font-size:1.18rem;
        color: var(--cor-titulos);
        transition: all .1s;
    }

    .menu a:first-of-type {
        margin-top:0;
    }

    .menu a:hover {
        border-bottom: 3px solid var(--cor-button);
        background:transparent;
    }

    section {
        width: 95vw;
        margin-inline: auto;
    }

    .about-img {
        display: block;
    }

    .about-img {
        width: 50%;
        text-align: center;
        margin: auto;
    }
}


@media screen and (min-width:920px) {

    header {
        width:100vw;
        padding:0 70px;
    }

    .logo span {
        font-size:1.3rem;
    }

    section {
        margin: 60px auto;
    }

    .home {
        height: 100%;
        width: 90vw;
        border:1px solid red;
        margin: 0 auto;
    }

    .home p {
        width: 60%;
        font-size: 1.2rem;
        color: rgb(245, 240, 240);
        position:relative;
        z-index:2;
    }

    .home h1 {
        font-size: 2.5rem;
    }

    section h2 {
        font-size: 2.2rem;
    }

    .contact-and-address {
        display: flex;
    }


}


@media screen and (min-width: 1024px) {
    section {
        width: 80vw;
        margin-inline: auto;
    }

    .home {
        width:80vw;
    }

    .about {
        display: flex;
    }

    .about-img img {
        width: 60%;
    }

    .about-text {
        width: 50%;
        padding-top: 20px;
        font-size:1.2rem;
    }

    .about-text p {
        margin-top: 30px;
    }
}

@media screen and (min-width:1200px) {
    section {
        width:75vw;
        border:1px solid red;
    }
}