@media screen and (max-width:576px){
    nav {
        display: none;
    }

    section:first-of-type{
        background: url('../img/background-bolo.jpg') no-repeat center;
    }

    .home {
        height: auto;
        width:100%;
    }

    .home button {
        width:100%;
        margin-top:30px;
    }

    .home h1 {
        font-size:1.8rem;
    }

    .home p {
        font-size:1rem;
    }

    .bolos {
        justify-content: center;
    }

    .sobre {
       display: block;
    }

    .sobre-text, .sobre-img {
        width:100%;
    }

    .sobre-text h3 {
        font-size:1.7rem;
        text-align: center;
    }

    .sobre-img img {
        width: 80%;
    }

}
@media screen and (max-width:920px) {
    .home p {
        width:80%;
    }

    .sobre-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:20px;
    }

    .sobre-info-img {
        width:100%;
    }

    .sobre-info-text {
        width:100%;
    }

    .sobre-info h3 {
        font-size:32px;
    }


}

