:root {
    --cor-bg:linear-gradient(to right, rgb(244, 238, 238), rgb(212, 183, 151));
    --cor-bg-footer: linear-gradient(to bottom, lightgray, rgb(230, 204, 174));
    --cor-titulos: rgb(59, 34, 20);
    --cor-logo:rgb(101, 57, 36);
    --cor-button:rgb(121, 102, 76); ;
    --cor-span:rgb(207, 148, 85);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    background: var(--cor-bg);
}

header {
    width:100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0;
    background:var(--cor-bg);
    border-bottom:1px solid rgb(220, 207, 207);
}

a {
    text-decoration: none;
}

.logo span {
    font-size:1.7rem;
    font-weight: bold;
    color:var(--cor-logo);
    font-family: 'Lobster',sans-serif;
    letter-spacing: 3px;
}

.menu a, .menu-hamburguer a {
    font-size:18px;
    margin-right:15px;
    color:rgb(153, 99, 74);
    transition:color 0.2s ease-in-out;
}

.menu a:hover, .menu-hamburguer a:hover{
    border-top:3px solid rgb(77,47,32);
    color:rgb(77, 47, 32);
}

.icone-menu-hamburguer {
    position:relative;
    width:150px;
    text-align: center;
    display: none;
}

.icone-menu-hamburguer img {
    width:25px;
    cursor: pointer;
}


.menu-hamburguer {
    position:absolute;
    background-color:rgba(229, 208, 183, 0.868);
    width:150px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.732);
    border-radius:10px;
    z-index: 2;
    display: none;
}
.menu-hamburguer a {
    display: block;
    width:100%;
    padding:5px;
}

.menu-hamburguer a:not(:first-of-type){
    margin-top:5px;
}

.menu-hamburguer a:hover {
    border:none;
    background-color:rgb(225, 197, 167);
    border-radius:4px;
}


main {
    margin:auto;
    border-radius:10px;
    overflow: hidden;
}

section {
    width:80vw;
    padding:20px 10px;
    margin:60px auto;
}

section:first-of-type {
    width:100vw;
    margin-top:0;
    background: url('../img/background-bolo.jpg') no-repeat center;
    background-size:cover;
}

.home {
    width: 80vw;
    /* height:70vh; */
    margin:auto;
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:40px 20px;
}

.home h1 {
    font-size:2.5rem;
    color:var(--cor-titulos);
    margin-top:50px;
}

.home p {
    color:var(--cor-titulos);
    color:rgb(255, 253, 253);
    font-size:20px;
    width: 50%;
}

.home button {
    width:20%;
    background-color:var(--cor-button);
    color:#ffffff;
    font-weight: bold;
    font-size:16px;
    padding:16px;
    border:none;
    border-radius:4px;
    margin-top: 15px;
    cursor: pointer;
    transition:background-color 0.2s linear;
}

.home button:hover{
    background-color: rgb(107, 91, 73)
}


section h2 {
    font-size:3.1rem;
    font-family: 'Lobster', sans-serif;
    color:var(--cor-titulos);
    text-align: center;
    margin-bottom:20px;
}

section h2 > span {
    color:var(--cor-span);
    font-family: 'Lobster', sans-serif;
}

.bolos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top:3rem;
}

.card {
    width:280px;
    height:350px;
    text-align: center;
    border-radius:10px;
    box-shadow:2px 3px 5px rgba(0, 0, 0, 0.263);
    overflow: hidden;
    margin:8px;

}

.card-img {
    height: 70%;
}

.card-img img {
    width:100%;
}

.card-body {
    margin-top:12px;
}

.card-body h3 {
    font-size:1.5rem;
}

.card span {
    font-size:32px;
    font-weight: bold;
    color:var(--cor-span);
}

.sobre {
   display: flex;
   align-items: center;
   gap:15px;

}

.sobre h2 {
    width:100%;
}

.sobre-img {
    width:40%;
}

.sobre-img img {
    width:100%;
}

.sobre-text {
    width:60%;
    font-size:20px;
}

.sobre-text h3 {
    font-size:2rem;
    color:var(--cor-button);
    margin-bottom:30px;
}

.contato {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:10px;
    margin-top:50px;
}

.endereco, .fale-conosco {
    min-width: 300px;
    width:40%;
    padding:20px;
    line-height: 2rem;
    color:rgb(108, 106, 106);
    border-radius:5px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.288);
}

.contato div h3 {
    font-size:1.6rem;
    color:var(--cor-button);
    margin-bottom:20px;
}



.fale-conosco .campo{
    display: flex;
    align-items: center;
    gap:8px;
}

.campo img {
    width:20px;
}



footer {
    background:var(--cor-bg-footer);
    height: 80px;
    padding-top:10px;
    text-align: center;
    border-top:5px solid rgb(204, 196, 197)
}

footer span {
    font-size:1.2rem;
    font-weight: bold;
}

