:root {
    --cor-bg:linear-gradient(to right, rgb(242, 233, 233), rgb(239, 212, 184));
    --cor-bg-footer: linear-gradient(to  right, rgb(242, 229, 218), rgb(221, 206, 191));
    --cor-titulos: rgb(59, 34, 20);
    --cor-logo:rgb(101, 57, 36);
    --cor-button:rgb(121, 102, 76); ;
    --cor-span:rgb(207, 148, 85);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    background: var(--cor-bg);
    overflow-x: hidden;
}

header {
    width:100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0;
    background:var(--cor-bg);
    border-bottom:1px solid rgb(220, 207, 207);
}

a {
    text-decoration: none;
}

.logo span {
    font-size:1.1rem;
    font-weight: bold;
    color:var(--cor-logo);
}

/* .menu a, .menu-hamburguer a {
    font-size:18px;
    color:rgb(153, 99, 74);
    transition:color 0.2s ease-in-out;
}

.menu a:hover, .menu-hamburguer a:hover{
    border-top:3px solid rgb(77,47,32);
    color:rgb(77, 47, 32);
}

.icone-menu-hamburguer {
    position:relative;
    width:150px;
    text-align: center;
    display: none;
}

.icone-menu-hamburguer img {
    width:25px;
    cursor: pointer;
}


.menu-hamburguer {
    position:absolute;
    background-color:rgba(229, 208, 183, 0.868);
    width:150px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.732);
    border-radius:10px;
    z-index: 2;
    display: none;
}
.menu-hamburguer a {
    display: block;
    width:100%;
    padding:5px;
}

.menu-hamburguer a:not(:first-of-type){
    margin-top:5px;
}

.menu-hamburguer a:hover {
    border:none;
    background-color:rgb(225, 197, 167);
    border-radius:4px;
} */

section {
    /* width:80vw; */
    padding:30px;
    margin:40px 0;
}

section:first-of-type {
    width:100vw;
    margin-top:0;
    background: url('../img/background-bolo.jpg') no-repeat center;
    background-size:cover;
}

.home {
    width: 90vw;
    margin:auto;
    display:flex;
    flex-direction: column;
    gap:20px;
}

.home h1 {
    font-size:2rem;
    color:var(--cor-titulos);
    margin-top:50px;
}

.home p {
    color:var(--cor-titulos);
    color:rgb(255, 253, 253);
    font-size:1rem;
    width: 100%;
}

.home button {
    width:100%;
    background-color:var(--cor-button);
    color:#ffffff;
    font-weight: bold;
    font-size:1.2rem;
    padding:18px;
    border:none;
    border-radius:8px;
    margin-top: 15px;
    cursor: pointer;
    transition:background-color 0.2s linear;
}

.home button:hover{
    background-color: rgb(107, 91, 73)
}


section h2 {
    font-size:2rem;
    color:var(--cor-titulos);
    text-align: center;
    margin-bottom:30px;
}

section h2 > span {
    color:var(--cor-span);
}

.bolos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width:250;
    height:360px;
    text-align: center;
    border-radius:10px;
    box-shadow:1px 1px 15px rgba(0, 0, 0, 0.192);
    overflow: hidden;
    margin-bottom:20px;

}
.card-body {
    margin-top:10px;
}
.card-body h3 {
    font-size:1.4rem;
}

.card span {
    font-size:32px;
    font-weight: bold;
    color:var(--cor-span);
}

.sobre-img {
    display: none;
}

.sobre-img img {
    width:100%;
}

.sobre-text {
    font-size:1rem;
    text-align: justify;
}

.sobre-text h3 {
    font-size:1.6rem;
    color:var(--cor-button);
    margin-bottom:15px;
}

.contato {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:10px;
}

.endereco, .fale-conosco {
    width:100%;
    line-height: 2rem;
    padding:10px;
    color:rgb(108, 106, 106);
    border-radius:4px;
    box-shadow: -2px -1px 15px rgba(0, 0, 0, 0.175);
}

.contato div h3 {
    font-size:1.6rem;
    color:var(--cor-button);
    margin-bottom:20px;
}



.fale-conosco .campo{
    display: flex;
    align-items: center;
    gap:8px;
}

.campo img {
    width:20px;
}



footer {
    background:var(--cor-bg-footer);
    padding:12px 0;
    text-align: center;
    border-top:1px solid rgb(212, 202, 189)
}

footer span {
    font-size:1rem;
    font-weight: bold;
    color:var(--cor-logo);
}

.menu-lateral {
    background-color:white;
    position:absolute;
    z-index:2;
    right:0;
    top:0;
    width:60%;
    height: 100vh;
}

.header-menu {
    border-bottom:1px solid var(--cor-span);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 5px;
}

.header-menu span {
    font-size:1.8rem;
    cursor: pointer;
}

.menu-lateral h3 {
    font-size:1.2rem;
    padding:8px;
    color:var(--cor-logo);
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.281);
}

.menu {
    list-style-type: none;
}

.menu a {
    display: block;
    width:100%;
    padding:5px;
    padding-left:15px;
    color:var(--cor-titulos);
    font-size:1rem;
    margin-bottom:3px;
}

.menu a:first-of-type {
    margin-top:10px;
}

.menu a:hover {
    background-color:antiquewhite;
    font-weight: 600;
}

